@font-face {
  font-family: "genshinFont";
  src: local("genshinFont"), url("./fonts/zh-cn.ttf") format("truetype");
  font-weight: bold;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

.genshin-font {
  font-family: "genshinFont";
  color: white;
  text-shadow: -1px -1px 105px #a0d3de;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navigation {
  position: absolute;
  height: 6.5%;
  width: 20.3%;
  display: flex;
  flex-wrap: wrap;
  top: 3.5%;
  right: 7%;
  align-content: space-between;
}

.navigation-main-button {
  position: absolute;
  top: 3.5%;
  right: 2.7%;
  height: 6.5%;
  width: 3.5%;
  opacity: 0.9;
  animation: 8s boxTurn infinite;
}

.navigation-items {
  width: auto;
  height: 100%;
  flex-grow: 1;
}

.navigation img {
  opacity: 0.85;
  height: 80%;
  display: block;
  margin: auto;
  width: 45%;
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(5px);
  }
  75% {
    transform: translatey(-2.5px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes boxTurn {
  33% {
    transform: rotate(25deg);
  }
  66% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.image-background {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.playlist {
  position: absolute;
  left: 2.5%;
  height: 70%;
  width: 25%;
  top: 15%;
  border: 1px solid #a7bad0;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #817667;
  background-color: rgba(26, 79, 162, 0.3);
}

.playlist-container {
  border: 2px solid rgba(255, 255, 255, 0.7);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.playlist-title {
  display: flex;
  flex-direction: row;
  height: 20%;
  background-color: rgba(15, 28, 71, 0.4);
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  padding: 10px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.9);
}

.playlist-item-image {
  flex-grow: 1;
  margin-top: 5%;
  margin-left: 2.5%;
  width: 25%;
  height: 75%;
}

.playlist-item-image img {
  width: auto;
  height: 100%;
  border-radius: 15%;
  box-shadow: 0px 0px 8px white;
}

.playlist-item-text {
  flex-grow: 9;
  margin-left: 25px;
}

.playlist-item-text img {
  height: 30%;
  width: 15%;
  opacity: 0.85;
}

.playlist-main {
  margin-top: 33px;
  font-size: 1.75rem;
  line-height: 2rem;
}

.playlist-sub {
  margin-top: 10px;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.song-item {
  display: flex;
  padding: 10px;
  height: 15%;
  width: 90%;
  margin: auto;
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}

.song-item-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(26, 79, 162, 0.3);
}

.song-image {
  margin-left: 8px;
  width: 25%;
}

.song-image img {
  height: 100%;
  width: 85%;
  border-radius: 10%;
  background-color: rgba(15, 28, 71, 0.5);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
}

.song-title {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  opacity: 0.9;
}

.song-sub {
  font-size: 0.75rem;
  line-height: 1rem;
  opacity: 0.85;
}

.song-text {
  width: 85%;
  margin-top: 5px;
  margin-left: 15px;
}

.music-player {
  position: absolute;
  left: 35%;
  bottom: 10%;
  height: 30%;
  width: 30%;
}

.music-player-container {
  display: flex;
  margin-top: 5px;
  width: 100%;
  height: 30%;
}

.audioProgress {
  position: absolute;
  width: 100%;
  left: -0.1vw;
  top: 19.3vh;
  height: 1vh;
  -webkit-appearance: none;
  background: none;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.audioProgress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 50%;
  background: rgba(30, 106, 225, 0.9);
  cursor: pointer;
}

.audioProgress::-moz-range-thumb {
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 50%;
  background: rgba(30, 106, 225, 0.9);
  cursor: pointer;
}

.music-player-image {
  height: 100%;
  width: 15%;
  background-color: rgba(15, 28, 71, 0.6);
}

.music-player-container img {
  height: 100%;
  width: 15%;
}

.music-title {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.music-description {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.music-icons {
  display: flex;
  width: 30%;
  gap: 10%;
}

.music-icons img {
  flex: 1;
  max-height: 100%;
}

.music-player-text {
  background-color: rgba(15, 28, 71, 0.4);
  display: flex;
  flex-direction: column;
  opacity: 0.9;
  padding: 15px;
}

.option-bar-container {
  position: absolute;
  right: 2.5%;
  height: 70%;
  width: 25%;
  top: 15%;
  border: 1px solid #a7bad0;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #817667;
}

.option-bar {
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.option-bar-icons {
  flex-grow: 1;
  width: 18%;
  border-right: 2px solid #a7bad0;
  background-color: rgba(15, 28, 71, 0.4); /*rgba(235, 227, 216, 0.3);*/
}

.option-bar-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.option-bar-icons-img {
  height: 5vh;
  width: 5vh;
  opacity: 0.85;
}

.option-bar-items {
  flex-grow: 9;
  background-color: rgba(26, 79, 162, 0.3);
}

.option-bar-items-container {
  width: 90%;
  height: 85%;
  margin: auto;
  margin-top: 7.5%;
}

.option-bar-main-text {
  color: white;
  opacity: 0.8;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.option-bar-sub-text {
  color: #d3dae0;
  opacity: 0.8;
  margin-left: 15px;
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.option-bar-image-items {
  margin-top: 5%;
  width: 100%;
  height: 38%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.option-bar-images-container {
  flex: 1;
  margin-top: 5px;
  width: 15%;
  height: 30%;
  text-align: center;
}

.option-bar-images-container img {
  width: 100%;
  height: auto;
}

.option-bar-images-container p {
  font-size: 0.5rem; /* 12px */
  line-height: 0.75rem; /* 16px */
  opacity: 0.9;
}

.option-bar-container-2 {
  display: flex;
  flex-direction: column;
}

.daily-commission-container {
  margin-top: 15px;
}

.daily-commission-items {
  display: flex;
  align-items: center;
}

.daily-commission-container p {
  font-size: 1.5rem; /* 24px */
  margin-left: 7px;
  opacity: 0.9;
  margin-top: 5px;
}

.daily-commission-container img {
  width: 15%;
  height: 15%;
  opacity: 0.9;
}

.server-time-container {
  margin-top: 7.5%;
}

.server-time {
  margin-top: 10px;
  font-size: 3.75rem; /* 60px */
  line-height: 1;
  opacity: 0.9;
  text-align: center;
}

.server-sub-text {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  opacity: 0.9;
  text-align: center;
}

.character-name {
  font-size: 75rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

/*
  Lower Resolution font-size set
*/

@media screen and (min-width: 2560px) and (max-width: 3841px) {
  .song-image {
    width: 11%;
    height: 11%;
  }

  .song-image img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1px) and (max-width: 1601px) {
  .playlist-item-text img {
    height: 25%;
    width: 15%;
  }

  .song-title {
    font-size: 0.75rem; /* 16px */
    line-height: 0.75rem; /* 24px */
  }

  .song-sub {
    font-size: 0.5rem;
    line-height: 1rem;
  }

  .playlist-main {
    margin-top: 25px;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .playlist-sub {
    margin-top: 5px;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .music-title {
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
  }

  .music-description {
    font-size: 0.5rem; /* 12px */
    line-height: 0.75rem; /* 16px */
  }

  .option-bar-main-text {
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
  }

  .option-bar-sub-text {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  }

  .option-bar-images-container p {
    font-size: 0.25rem; /* 12px */
    line-height: 0.5rem; /* 16px */
  }

  .daily-commission-container p {
    font-size: 1.125rem; /* 18px */
  }

  .server-time {
    font-size: 2.75rem; /* 48px */
    margin-top: 5px;
  }

  .server-sub-text {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
  }
}
